<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nano Twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
<script src="jquery-2.1.3.min.js"></script>
<script src="bootstrap.min.js"></script>
<%= yield %>
</body>
</html>