<html>
<head>
  <title>Nano Twitter</title>
  <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
<script src="jquery-2.1.3.min.js"></script>
<script src="bootstrap.min.js"></script>
<%= yield %>
</body>
</html>