<div class="page-header">
  <span>
    <h2>Nano Twitter</h2>
    <h2>You are logged in</h2>
		<h2><%= user['username'] %>, you are logged in</h2>
  </span>
  <span>
   <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Logout</button>
   <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#logoutModal">Logout</button> -->
  </span>
</div>

<%= erb :feed, :locals => { :tweets => tweets } %>

<div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
      <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
      <div class="input-group" method="get" action="/logout">
      	<div class="modal-footer"><a href="/logout" class="btn btn-primary btn-block" type="submit">Logout</a></div>
    	</div>
    </div>
  </div>
</div>