<div class="page-header">
  <div class="container-fluid">
    <span class="pull-left">
      <h2><a href="/nanotwitter/v1.0/users/<%= user[:username] %>"><%= user['username'] %></a>, you are logged in</h2>
    </span>
    <span class="pull-right" style="margin-top: 25px">
      <button class="btn btn-danger" data-toggle="modal" data-target="#logout-confirm-modal">Logout</button>
    </span>
  </div>
</div>
<%= erb :tweet, :locals => {:user => user } %>
<%= erb :feed, :locals => { :tweets => tweets } %>

<div class="modal fade" id="logout-confirm-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Logout</h4>
      </div>
      <p class="modal-body text-center">Are you sure you want to log-off?</p>
      <div class="text-center">
        <a href="/nanotwitter/v1.0/logout" class="btn btn-danger" style="margin-bottom: 15px" type="submit">Logout</a>
      </div>
    </div>
  </div>
</div>