<div class="page-header">
  <div class="container-fluid">
    <span class="pull-left">
      <h1>Nano Twitter</h1>
    </span>
    <span class="pull-right" style="margin-top: 25px">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Login/Register
      </button>

      <% if defined? logout%>
      <p style="color: red">You are now logged out.</p>
  <% end %>
    </span>
  </div>
</div>