<div class="page-header">
  <div class="container-fluid">
    <% if defined? logout %>
      <div class="alert alert-danger fade in center-block text-center" role="alert">
        You have been logged out.
        <button class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
      </div>
    <% end %>
    <% if defined? login_error %>
      <div class="alert alert-danger fade in center-block text-center" role="alert">
        <%= login_error[:message] %><br>If you are interested, you triggered error <%= login_error[:error_codes].to_s %>.
        <button class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
      </div>
    <% end %>
    <span class="pull-left">
      <h1>Nano Twitter</h1>
    </span>
    <span class="pull-right" style="margin-top: 25px">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Login/Register
      </button>
    </span>
  </div>
</div>

<%= erb :feed, :locals => { :tweets => tweets } %>

<!-- Login/Register modal -->
<div class="modal fade" id="loginModal" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Login to Nano Twitter</h4>
      </div>

      <div class="modal-body container-fluid">
          <!-- Login form -->
        <div id="login-form">
          <form class="form-group" method="POST" action="/nanotwitter/v1.0/users/session">
            <div class="center-block" style="width: 50%">
              <input class="form-control" type="text" name="username" placeholder="Username">
              <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <br>
            <button class="btn btn-primary center-block" type="submit">Log In</button>
          </form>
            <small>No account? <a href="#" id="register-button">Register Now</a></small>
        </div>

        <!-- Register form -->
        <div id="register-form" style="display: none">
          <form class="form-group" method="POST" action="/nanotwitter/v1.0/users">
            <div class="center-block" style="width: 50%">
              <input class="form-control" type="text" name="name" placeholder="First and Last name">
              <input class="form-control" type="email" name="email" placeholder="Email">
              <input class="form-control" type="text" name="username" placeholder="Username">
              <input class="form-control" type="password" name="password" placeholder="Password">
              <input class="form-control" type="password" name="password2" placeholder="Repeat password">
              <input class="form-control" type="text" name="phone" placeholder="Phone number">
            </div>
            <br>
            <button class="btn btn-primary center-block"type="submit">Register</button>
          </form>
          <small>Already have an account? <a href="#" id="login-button">Login Now</a></small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- To open/close login/register modal -->
<script type="text/javascript">
  $("#register-button").click(function() {
    $("#login-form").hide();
    $("#register-form").show();
  });

  $("#login-button").click(function() {
    $("#login-form").show();
    $("#register-form").hide();
  });
</script>