<div style="width: 250px; margin-right: 0px; margin-left: auto; margin-top: -30px">
<form class="form-group" method="POST" action="/nanotwitter/v1.0/users/search">
  <input class="form-control" type="text" name="search" placeholder="Search for a username or name">
  <button class="form-control btn btn-primary" type="submit">Search</button>
</form>
</div>