<form class="form-group" action="/nanotwitter/v1.0/users/id/<%= user[:id] %>/tweet" method="POST">
  <div class="container-fluid">
    <div class="row">
      <span class="form-group pull-left">
        <input class="form-control" style="width: 600px" type="text" name="tweet" maxlength="140" placeholder="Enter a tweet (140 characters max)">
      </span>
      <span class="pull-right">
        <button type="submit" class="btn btn-primary" style="margin-left:-1245px">Submit Tweet</button>
      </span>
    </div>
  </div>
</form>