
<div class="form-group">
	<form action="/nanotwitter/v1.0/tweets" method="POST">
		<input type="text" name="tweet" size="140" placeholder="Enter in a tweet up to 140 characters">
	</form> 
	<button type="submit" class="btn btn-default">Submit Tweet</button>
</div>