<form class="form-group" action="/nanotwitter/v1.0/tweets" method="POST">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <textarea class="form-control" rows="1" name="tweet" placeholder="Enter a tweet (140 characters max)"></textarea>
      </div>
      <div class="col-md-2" style="margin-left: -20px">
        <button type="submit" class="btn btn-primary">Submit Tweet</button>
      </div>
    </div>
  </div>
</form>